# Android Studio / IntelliJ IDE
*.iml
.gradle
local.properties
/.idea/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Firebase / Google Services
app/google-services.json

# Local configurations
local.properties
